<div class="columns is-centered mt-5">
    <div class="column is-4">
      <div class="box">
        <h1 class="is-size-3">Login</h1>
        <hr>
        <article *ngIf="errors.length > 0" class="message is-danger">
          <div class="message-body">
        <ul>
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
          </div>
        </article>
        <form [formGroup]="loginForm" action="javascript:" (ngSubmit)="onSubmit()">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input formControlName="email" class="input" type="email" placeholder="Your email ...">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input formControlName="password" class="input" type="password" placeholder="Your password ...">
            </div>
          </div>
          <div class="field is-grouped mt-4">
            <div class="control">
              <button class="button is-primary">Login</button>
            </div>
            <div class="control">
              <a routerLink="/auth/register" class="has-text-primary">Register</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  