@import './bulma';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

$directions: (
    "left": "l",
    "top": "t",
    "right": "r",
    "bottom": "b",
);

$sizes: (
    "0": 0rem,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 1rem,
    "4": 1.5rem,
    "5": 3rem,
    "6": 5rem
);

@each $size, $value in $sizes {
    @each $direction, $abbr in $directions {
        .m#{$abbr}-#{$size}{
            margin-#{$direction}: $value !important;
        }

        .p#{$abbr}-#{$size} {
            padding-#{$direction}: $value !important;
        }
    }

    .m-#{$size}{
        margin: $value !important;
    }

    .mx-#{$size}{
        margin-left: $value !important;
        margin-right: $value !important;
    }

    .my-#{$size}{
        margin-top: $value !important;
        margin-bottom: $value !important;
    }

    .p-#{$size}{
        padding: $value !important;
    }

    .px-#{$size}{
        padding-left: $value !important;
        padding-right: $value !important;
    }

    .py-#{$size}{
        padding-top: $value !important;
        padding-bottom: $value !important;
    }
}

@each $key, $value in $colors {
    .has-border-#{$key} {
        border-color: nth($value, 1);
    }
}