.message-input-region {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: solid lightgray 1px;

    .message-input {
        border: none;
        outline: none;
        width: 100%;
        resize: none;
        padding-right: 2rem; 
    }
}

.room-cell {
    cursor: pointer;
}