<div class="columns is-centered mt-2">
  <div class="column is-3">

  </div>
  <div class="column is-5">
    <article *ngIf="errors.length > 0" class="message is-danger">
      <div class="message-body">
        <ul>
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
      </div>
    </article>
  </div>
  <div class="column is-3">
    <button (click)="logout()" class="button is-pulled-right is-warning">Logout</button>
  </div>
</div>

<div class="columns is-centered mt-2">
  <div class="column is-3">
    <div class="box">
      <h1 class="is-size-4">Friends</h1>
      <hr>
      <div *ngFor="let room of rooms" class="notification room-cell mb-1" (click)="changeRoom(room)"
        [ngClass]="{ 'is-primary': room === currentRoom, 'is-light': room === currentRoom }">
        <div class="columns">
          <div class="column">
            {{ getRoomName(room) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-5">
    <div class="box">
      <h1 class="is-size-4">
        {{ currentRoom ? getRoomName(currentRoom) : 'Pick a chat or add a friend to start chatting' }}</h1>
      <hr>
      <div *ngFor="let message of currentRoom?.messages || []" class="is-clearfix mb-1">
        <div class="notification p-2"
          [ngClass]="{ 'is-pulled-right': userService.user.id == message.user_id, 'is-pulled-left': userService.user.id != message.user_id, 'is-primary': userService.user.id == message.user_id, 'is-light': userService.user.id != message.user_id }">
          {{ message.content }}
        </div>
      </div>
      <hr>
      <div class="message-input-region">
        <form [formGroup]="messageForm" action="javascript:" (ngSubmit)="onSubmitMessage()">
          <div class="columns">
            <div class="column">
              <input formControlName="content" class="message-input" type="text " [readonly]="!currentRoom"
                placeholder="Type something ..." />
            </div>
            <div class="column is-narrow">
              <button class="button is-small is-primary" [disabled]="!currentRoom">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="box">
      <h1 class="is-size-4">Find Friends</h1>
      <hr>
      <div *ngFor="let user of users" class="notification is-light mb-1">
        <div class="columns">
          <div class="column">
            {{ user.name }}
          </div>
          <div class="column is-narrow">
            <button class="button is-primary is-small" (click)="addFriend(user)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
