<div class="columns is-centered mt-5">
  <div class="column is-4">
    <div class="box">
      <h1 class="is-size-3">Register</h1>
      <hr>
      <article *ngIf="errors.length > 0" class="message is-danger">
        <div class="message-body">
          <ul>
            <li *ngFor="let error of errors">{{error}}</li>
          </ul>
        </div>
      </article>
      <form [formGroup]="registerForm" action="javascript:" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input formControlName="email" class="input" type="email" placeholder="Your email ...">
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input formControlName="name" class="input" type="text" placeholder="Your name ...">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input formControlName="password" class="input" type="password" placeholder="Enter a password ...">
          </div>
        </div>
        <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control">
            <input formControlName="password_confirmation" class="input" type="password"
              placeholder="Re-enter password ...">
          </div>
        </div>
        <div class="field is-grouped mt-4">
          <div class="control">
            <button class="button is-primary">Register Now</button>
          </div>
          <div class="control">
            <a routerLink="/auth/login" class="has-text-primary">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
